@font-face {
    font-family: "asset";
    src: url(assets/Asset-Regular.ttf);
}

@font-face {
    font-family: "IBM";
    src: url(assets/IBMPlexMono-Regular.ttf);
}

body {
    background: linear-gradient(315deg, rgb(59, 59, 59) 3%, rgb(2, 97, 18) 38%, rgb(33, 34, 34) 68%, rgb(173, 99, 2) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.mainbar {
    display: flex;
    justify-content: space-between;
    background-color: #65558F;
    /* padding: 10px; */
}

.boton {
    padding: 10px;
}

.liverep {
    display: flex;
}

.liverep img {
    width: 56px;
    height: 56px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.liverep p {
    font-family: "asset";
    font-size: 10px;
    padding-left: 5px;
    text-align: center;
}

.liverep__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: #352c4d;
}

.songlist {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: auto;
    width: auto;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    font-family: "IBM";
}

.volumen {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

/* li {
    height: 300px;
    width: 300px;
} */

.songlist_songs {
    height: fit-content;
    width: 250px;
    /* transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0.7, -3, 0.3, 3); */
    background-color: #352c4d;
    border-radius: 25px;
}

.songlist_songs:hover {
    transform: scale3d(1.2, 1.2, 1.2)
}

.songlist_songs img {
    max-width: 250px;
    max-height: 250PX;
    border-top-left-radius: 25PX;
    border-top-right-radius: 25px;
}

.songlist_songs h3 {
    color: aliceblue;
    padding: 10px;
}

.songlist_songs p {
    color: aliceblue;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: end;
    font-family: "asset";
    background-color: #65558F;

}

h1 {
    font-size: 15px;
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
    outline: unset;
    border: unset;
    margin: unset;
    padding: unset;
    /* Estas opciones de arriba son clave, poner siempre */
}